.buttonsHero {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // padding: 15px 0;
    border: 1px solid transparent;

    border-radius: 10px;
    font-size: clamp(8px, 3vw, 18px);

    @media (max-width: 960px) {
        font-size: clamp(8px, 3vw, 15px);
    }

    @media (max-width: 820px) {
        font-size: clamp(8px, 3vw, 12px);
    }
    &__orderButton {
        margin: 0 auto;
        @media (max-width: 1084px) {
            display: none;
        }
    }
    &__description {
        font-size: clamp(8px, 3vw, 15px);

        @media (max-width: 820px) {
            font-size: clamp(8px, 3vw, 12px);
        }
        @media (max-width: 470px) {
            font-size: clamp(6px, 2vw, 10px);
        }
    }
    &__text {
        // font-size: clamp(8px, 3vw, 15px);
        font-size: 25px;
        // @media (max-width: 960px) {
        //     font-size: clamp(8px, 3vw, 12px);
        // }

        // @media (max-width: 820px) {
        //     font-size: clamp(8px, 3vw, 10px);
        // }
        // @media (max-width: 410px) {
        //     font-size: clamp(6px, 2vw, 10px);
        // }
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 15px;
        gap: 5px;
        align-items: flex-end;
        // @media (max-width: 1084px) {
        //     flex-direction: column-reverse;
        // }
    }
    &__buttonsHero {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
        // padding: 10px 5px;
    }
    &__part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
        padding: 10px;
    }
    &__hero {
        gap: 10px;
    }
    &__info {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        &_second {
            align-self: flex-end;
        }
    }
    &__button {
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgb(222, 230, 246);
        color: rgb(87, 129, 203);
        background-color: white;
    }
}
.first {
    flex-direction: row;
    gap: 20px;
    padding: 15px 10px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    top: -35px;
    // @media (max-width: 1084px) {
    //     align-self: start;
    // }
    @media (max-width: 530px) {
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
}
.second {
    // align-self: flex-end;
    // @media (min-width: 900px) {
    // }
    margin-left: auto;
}
.blue {
    background-color: rgb(47, 114, 203);
    color: white;
    border: 1px solid transparent;
}
